<app-header></app-header>
   <h3> {{welcome}} </h3>
   <app-student>[pmessage] = "message" (updateMessage) = "changeMessage($event)"</app-student>
    <span  id="emessage"  style="color:blue;font-size: 16px;font-weight: bold;">
   {{message}}
   </span>
        <br/>
         
             <label for="username">Username</label>
             <input #username type="text" name="username" class="form-control" id="username" >
               <br/>
                <label>Password</label>
             <input #Password type="password" name="password" class="form-control" id="password">
              <br/>
  <button type="button" class="btn btn-primary" (click) = "authUser(username, Password);">Sign In</button>
  &nbsp;
  <a routerLink = "/signup"><button type="button" class="btn btn-info">Sign Up</button></a> 
  &nbsp;
  <a href="forgotPassword.jsp"><button type="button" class="btn btn-primary">{{btmessage}}</button></a>
  <hr/>
<p>Pending Payee</p>            

<table class="table table-bordered">
  <thead>
    <tr>
      <th>PayeeAccountNo</th>
      <th>PayeeName</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let payees of payee">
      <td>{{payees.payeeAccountNo}}</td>
      <td>{{payees.payeeName}}</td>
      
    </tr>

    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
   
    </tr>
  </tbody>
</table> 